.chat-list {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  width: 100%;
  height: 60px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 5px 10px;
  flex-grow: 1;
  border-radius: 20px;
}

.search-icon {
  color: black;
  margin-right: 5px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.search-icons {
  margin-left: 10px;
  display: flex;
  gap: 12px;
  color: black;
  cursor: pointer;
}

.tab-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tab-menu span {
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.tab-menu .active-tab {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.tab-menu .btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.chat-items {
  flex-grow: 1;
  overflow-y: auto;
}