/* Container chính */
.content-section {
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  max-width: 100%; /* Giới hạn chiều rộng để tạo không gian hợp lý */
  margin: 0 auto; /* Căn giữa phần danh sách bạn bè */
}

/* Tiêu đề danh sách bạn bè */
h3 {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
  border-bottom: 2px solid #ddd; /* Thêm đường viền dưới tiêu đề */
  padding-bottom: 10px; /* Thêm khoảng cách dưới tiêu đề */
}

h3 .icon {
  margin-right: 10px;
  font-size: 15px; /* Tăng kích thước icon */
  color: #3498db;
}

/* Số lượng bạn bè */
.friend-count {
  font-size: 14px;
  color: black;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Mục bạn bè */
.content-section .friend-itemm {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 12px;
  border-width: 2px;
  border-color: black;
}

.content-section .friend-itemm:hover {
  background-color: #b1ccfa; /* Màu nền khi hover */
}

.friend-itemm span {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

/* Thêm nút kết bạn vào từng mục */
.friend-itemm .add-friend-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;

}

.friend-itemm .add-friend-btn:hover {
  background-color: #2980b9;
}

/* Đảm bảo không có margin dưới cùng cho mục cuối cùng */
.friend-itemm:last-child {
  margin-bottom: 0;
}

.content-section .friend-itemm {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.friend-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Circular image */
  margin-right: 10px;
}

.content-section .friend-item span {
  font-size: 16px;
  font-weight: bold;
}
